/*.BizVanguard-hero {
  background: url("../assets/background.png");
  background-size: cover;
  padding: 50px;
  height: 730px;
  width: 94%;
}

.card {
  background: url("../assets/bgbiz.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 80px;
  margin-left: 100px;
  width: 75%;
  height: 450px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.15);
}
 /* width: 60%;
  
  
  position: relative;
  background: url("../assets/bgbiz.png");
  background-size: cover;
  border-top-left-radius: 0px;
 


.content {
  max-width: 400px;
  color: #fff;
}

.content .bizvanguard{
  width: 1000px;
  margin-left: 100px;
}
.content .about{
  
  
}
.date {
  margin: 15px 0;
  font-size: 1.1rem;
  opacity: 0.9;
}

.desc {
  font-size: 0.95rem;
  line-height: 1.7;
  opacity: 0.85;
  margin-bottom: 25px;
}

.register {
  background: linear-gradient(90deg, #b00000, #ff1a1a);
  border: none;
  padding: 14px 35px;
  color: white;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.register:hover {
  transform: scale(1.05);
}

.imageBox {
  position: relative;
  
}

.imageBox img {
  width:500px;
  margin-top: -200px;
  margin-right: -40px;
  filter: drop-shadow(0 0 25px rgba(255, 0, 0, 0.5));
}

.imaeBox img .fee {
  position: absolute;
  bottom: 10px;
  right: -20px;
  background: #000;
  color: white;
  border: 2px solid white;
  padding: 10px 18px;
  border-radius: 50%;
  font-weight: bold;
  width: 30px;
}
*/
/* FULL PAGE BACKGROUND */
.EscapeRoom-hero {
  min-height: 200vh;
  background-image: url("../assets/backgroundHd.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px; 
}

/* MAIN CARD */
.escapecard{
  width: 100%;
  max-width: 1200px;
  min-height: 620px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  border-radius: 22px;
  background-image:url("../assets/escapebg.png");
  background-size: cover;
  background-position: center;
  top: 60px;
  position: absolute;
  
  
  
}

/* LEFT CONTENT */
.content {
  margin-top: 150px;
  width: 100%;
  color: #fff;
  
  
}
.about {
  margin-top: 200px;
  margin-left: 50px;
  
}
.gotham {
  width: 1000px;
  height: 400px;
  margin: 0px 10px ;
  top: 0px;
  position: absolute;

}

.date {
  font-size: 1.5rem;
  margin-bottom: 0px;
  opacity: 0.9;
  
}

.desc {
  font-size: 1.1rem;
  line-height: 1.7;
  opacity: 0.85;
  width: 100%;
  margin-bottom: 30px;
}

.register {
  max-width: 80%;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  background-image: url("../assets/eyes.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.register-text {
  font-size: 22px;
  font-weight: bold;
  color:white; /* change if needed */
  z-index: 1;
  width: 300px;
}




/* RIGHT SIDE */
.imageBox {
  position: relative;
}

.escapebatman {
 width: 720px;
    height: 470px;
  right: -60px;
  top: -160px;
  bottom: 0px;
  position: absolute;
  
}

/* PRICE BADGE */


.rules-heading{
  color: #Bea3a3;
  position: absolute;
  margin-top: -10px;
  left: 80px;
  font-size: 80px;
  width: 100%;
  word-spacing: 6px;
  font-weight: 300;

}
.rules-card{
  
  position: absolute;
  left: 80px;
  gap: 50px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.rule1{
  box-sizing: border-box;
  width: 400px;
  height: 50px;
  background-color:rgb(158, 110, 114);
  position: relative;
  margin-top: 0px;
  font-weight: bolder;
  padding: 20px 20px;

}

/* FULL PAGE */
.scene {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at center, #0b0b0b, #000);
  position: relative;
}
.bat-wrapper {
  position: absolute;
  left: 0;
  top: 100px;
  animation: flyPath 14s linear infinite;
  z-index: 10;
}

.bat-body {
  position: relative;
  width: 120px;
  height: 60px;
}

.body {
  position: absolute;
  width: 50px;
  left: 35px;
  top: 15px;
  z-index: 3;
}
.wing {
  position: absolute;
  width: 70px;
  top: 10px;
}

.left-wing {
  left: 0;
  transform-origin: right center;
  animation: flapLeft 0.35s ease-in-out infinite;
}

.right-wing {
  right: 0;
  transform-origin: left center;
  animation: flapRight 0.35s ease-in-out infinite;
}
@keyframes flapLeft {
  0%   { transform: rotate(20deg) scaleY(1); }
  50%  { transform: rotate(-25deg) scaleY(0.7); }
  100% { transform: rotate(20deg) scaleY(1); }
}

@keyframes flapRight {
  0%   { transform: rotate(-20deg) scaleY(1); }
  50%  { transform: rotate(25deg) scaleY(0.7); }
  100% { transform: rotate(-20deg) scaleY(1); }
}
@keyframes flyPath {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(25vw, 200px); }
  50%  { transform: translate(50vw, -50px); }
  75%  { transform: translate(75vw, 250px); }
  100% { transform: translate(120vw, 0); }
}
