/* Date Box */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
   background-image: linear-gradient(#4a0000, #0B0000);
   height: 100vh;
}
.date-box {
  display: flex;
  width: 40%;
  height: 5%;
  margin-top: -25px;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border-radius: 40px;
  padding: 10px 30px;
  gap: 20px;
}

.dates {
  display: flex;
  gap: 10px;
}

.dates span {
  background: #8b0000;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.date-box p {
  font-weight: 600;
}
