.home-container {
  min-height: 100vh;
  padding-top: 10px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.879), rgb(13, 1, 1)),
    url("../assets/bg.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #320505;
  color: white;
  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
   font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers horizontally */
}

.home-image {
  margin-top: 130px; 
  margin-bottom: 40px;  
}
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 60px;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 36%;
  background-color: #2f05057e;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  font-weight: 600;
}

.nav-links li {
  cursor: pointer;
}

/* Hero */
.hero {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

/* Date Box */
.date-box {
  display: flex;
  align-items: center;
  background: white;
  color: black;
  border-radius: 40px;
  padding: 10px 30px;
  gap: 20px;
}

.dates {
  display: flex;
  gap: 10px;
}

.dates span {
  background: #8b0000;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.date-box p {
  font-weight: 600;
}
