.home-container {
  height: 100vh;
  padding-top: 10px;
  background-image:linear-gradient(#4a0000d2, #0B0000);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 60px;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 36%;
  margin-left: 340px;
  background-color: #620404;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  font-weight: 600;
}

.nav-links li {
  cursor: pointer;
}

/* Hero */
.hero {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

/* Date Box */
.date-box {
  display: flex;
  align-items: center;
  background: white;
  color: black;
  border-radius: 40px;
  padding: 10px 30px;
  gap: 20px;
}

.dates {
  display: flex;
  gap: 10px;
}

.dates span {
  background: #8b0000;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.date-box p {
  font-weight: 600;
}
